name: Build VisionPilot Container

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'Models/**'
      - 'Modules/**'
      - 'VisionPilot/**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
        shell: bash
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      
      - name: Build VisionPilot container
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Modules/SDV/OpenADKit/Docker/Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/${{ github.repository_owner }}/visionpilot:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/visionpilot:${{ steps.date.outputs.date }}
            ghcr.io/${{ github.repository_owner }}/visionpilot:latest